/* ################ RESET ################## */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'gotham', 'gotham-bold', sans-serif;
}
/* ############################################ */

/* ################ VARIAVEIS ################ */
:root{
    --color-BG: #082333;
    --color-MAIN: #CA2005;
    --color-LIGTH: #DBDBDB;
    --main-section-HEIGHT: 89vh;
    --header-initial-HEIGHT: 11vh;
    --standart-padding-margin: 30px;
}
/* ############################################ */

html{
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: var(--header-initial-HEIGHT);
}
body{
    background-color: var(--color-BG);
}
/* ################## ESTILO PADRÃO PArA BOTÕES ###################### */
.btn{
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 50px;
    font-family: gotham-bold;
    color: var(--color-LIGTH);
    text-transform: uppercase;
    transition: all 150ms linear;
    background-color: var(--color-MAIN);
}
.btn:hover{
    box-shadow: inset rgba(255, 38, 0, 0.8) 0px 0px 0px 1000px;
}
/* ################################################################## */

/* ################## estilo para link selecionadno no menu principal */
.ativo{
    border-radius: 50px;
    padding: .4rem;
    font-size: 13px;
    font-weight: bold;
    background-color: var(--color-MAIN);
}

/* ################################################################## */

.ativo_scroll{
    transition: 500ms ease-in-out;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 6px 0px;
}
.endereco{
    font-weight: 400;
    font-size: 20px;
    padding: .5rem;
}
.inscrevase_container{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 30px;
}
.btn_inscrevase{
    padding: .5rem;
    width: 50%;
}
.main_content{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    'HEADER'
    'START'
    'ABOUT'
    'EDICAO'
    'PROGRAMACAO'
    'PATROCINADOR'
    'TAGS'
    'FOOTER';
    width: 100%;
    height: auto;
    font-family: 'gotham';
    background-color: var(--color-BG);
}
.main_header{
    z-index: 1;
    width: 100%;
    display: flex;
    object-fit:contain;
    color: white;
    position: fixed;
    font-size: 13px;
    grid-area: HEADER;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    height: var(--header-initial-HEIGHT);
    padding: 0px var(--standart-padding-margin);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6111) 0%, rgba(8, 35, 51, 0.5166) 100%), #29404D;
}
.main_header .logo{
    height: 100%;
    padding: 1em;
}
.main_header .logo img{
    width: auto;
    height: 100%;
}
.main_nav{
    width: auto;
    padding-bottom: 5px;
}
.menu{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_item a{
    height: 20px;
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;    
}
.menu_item a:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    margin-top: .2rem;
    animation: crescer 500ms forwards;
    background-color: var(--color-MAIN);
}

.hamburger{
    display: none;
    cursor: pointer;
    }
    .bar{
        width: 25px;
        height: 3px;
        display: block;
        margin: 5px auto;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        background-color: var(--color-MAIN);
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        box-shadow: rgba(0,0,0,0.4) 1px 2px 0px 0px;
    }
.start{
    height: auto;
    display: flex;
    grid-area: START;
    align-items: center;
    justify-content: space-between;
    margin: var(--header-initial-HEIGHT) 0;
    padding: 0 var(--standart-padding-margin);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6111) 0%, rgba(8, 35, 51, 0.5166) 100%), #29404D;
}
.logo_start{
    width: 25%;
    height: auto;
    margin: 0 auto;
}
.logo_start img{
    width: 100%;
    height: 100%;
}
.information h1,
.information h2,
.information p,
.information button{
    margin-bottom: var(--standart-padding-margin);
}
.information h2{
    display: none;
}
.information img{
    width: 40%;
    margin-bottom: var(--standart-padding-margin);
}

.information{
    display: flex;
    flex-direction: column;
    width: 53%;
}
.information h1{
    color: white;
    font-size: 3.2vw;
    text-align: left;
    text-align: justify;
    font-family: gotham-bold;
}
.information button i{
    font-size: .8em;
}
.destaque{
    font-size: 6.5vw;
    font-family: 'gotham-bold';
}
.data_container{
    display: flex;
    font-family: 'gotham';
    flex-direction: column;
    margin-bottom: var(--standart-padding-margin);
}
.data_content, .data{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    font-family: gotham-bold;
}
.data_content{
    width: 100%;
    height: auto;
}
.endereco_icon{
    width: auto;
    display: flex;
    align-items: center;
}
.endereco_icon img{
    margin: 0;
    width: 2.5vw;
    height: auto;
}
.data{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 10px 0px 10px 30px;
}
.data p{
    margin: 0;
    height: 100%;
    font-size: 2.5vw;
    font-weight: bold;
}
.data_meio p{
    font-size: 3vw;
}


/*################ ABOUT ####################*/
.section_header{
    width: 100%;
    height: auto;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--color-MAIN);
    text-transform: uppercase;
    margin: var(--standart-padding-margin) 0;
}
.section_header h2{
    margin-left: 8px;
    margin-bottom: 0;
}
.about_header img{
    width: auto;
    height: auto;
}
.about{
    width: 100%;
    height: auto;
    display: flex;
    grid-area: ABOUT;
    align-items: center;
    font-family: 'gotham';
    flex-direction: column;
    padding: 0 var(--standart-padding-margin);
}
.about_container{
    display: flex;
    align-items: center;
    margin: var(--standart-padding-margin) 0;
}
.about_information{
    width: 70%;
    font-size: 1.1rem;
    color: var(--color-LIGTH);
    padding-right: var(--standart-padding-margin);
}
.about_information p{
    width: auto;
    margin: 15px 0;
    line-height: 26px;
    text-align: justify;
}
.about_image{
    width: 30%;
}
.about_image img{
    width: 100%;
    height: auto;
}

.about span{
    color: var(--color-MAIN);
}


/*################ ANTERIOR #################*/
.edicao_anterior{
    display: flex;
    grid-area: EDICAO;
    align-items: center;
    flex-direction: column;
}
iframe{
    width: 60%;
    height: 60vh;
}

.gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gallery_container{
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin: auto auto;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
}
.gallery_box{
    width: 200px;
    display: flex;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.gallery_box img{
    width: 400px;
    height: auto;
    filter: grayscale(100%);
    transition: all linear .3s;
}
.box_image img:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}

/*############## PROGRAMACAO ################*/
.programacao_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    grid-area: PROGRAMACAO;
    flex-direction: column;
    justify-content: center;
}

.programacao_start{
    display: flex;
    padding: 2rem 0;
    line-height: 28px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.programacao_start span{
    font-weight: bold;
    color: var(--color-MAIN);
    text-transform: uppercase;
}
.programacao_start p, .programacao_start h2{
    font-size: 1.5em;
}
.programacao_start p, .programacao_start h2, .programacao_start button{
    width: 60vw;
    color: white;
    text-align: center;
}
.programacao_start button{
    width: auto;
    border: flex;
    font-size: 1em;
    background-color: var(--color-MAIN);
}
/*############### PROGRAMAÇÃO & PAINEL #############*/
.programacao{
    width: 80%;    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    
}
.programacao_content{
    width: 100%;
}
.painel{
    width: 100%;
    height: auto;
}
.painel .content{
    gap: 20px;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.title_painel{
    color: white;
    transition: all 1s linear;
}
.painel_header{
    width: 100%;
    display: flex;
    row-gap: 20px;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px white solid;
}
.horario{
    color: var(--color-MAIN);
}
.card_palestrante{
    width: 310px;
    padding: 1rem;
    height: 120px;
    display: flex;
    overflow: hidden;
    line-height: 26px;
    border-radius: 4px;
    text-overflow: clip;
    text-overflow: '...';
    justify-content: start;
    align-items: flex-start;
    text-overflow: ellipsis;
    background-color: #ffffff;
}
.card_palestrante:hover{
    height: auto;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    transform: scale(1.02);
    justify-content: center;
}
.card_palestrante:hover .conten_palestrante .empresa::after{
    content: '';
    width: 100%;
    height: 2px;
    display: flex;
    color: white;
    margin: .5rem 0;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #CA2005;
    animation: crescer 500ms forwards;
}
@keyframes crescer {
    0%{
        width: 0;
        background-color: var(--color-BG);
    }
    50%{
        background-color: #fa4225;
    }
    100%{
        width: 100%;
        background-color: var(--color-MAIN);
    }
}

.foto_palestrante{
    width: 50%;
    height: auto;
    margin-right: 1rem;
}
.foto_palestrante img{
    width: 100%;
    height: auto;
}
.conten_palestrante{
    width: 100%;
    font-size: .9em;
}
.conten_palestrante .nome{
    width: 100%;
    font-size: 1em;
    font-weight: bolder;
    color: var(--color-MAIN);
    text-transform: capitalize;
}
.cargo, .empresa{
    font-size: 1em;
}

.hotel_container header{
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px inset white;
}
.hotel_container{
    gap: 5vh;
    width: 90%;
    height: auto;
    display: flex;
    padding: 0 2% 2% 2%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.hotel_box{
    width: 100%;
    display: flex;
    row-gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.hotel a, .hotel{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.hotel a img{
    margin-right: .5rem;
}
.hotel{
    width: 45%;
    padding: 1rem;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 50px;
    background-color: white;
    transition: all 150ms ease-in-out;
}
.hotel:hover{
    color: white;
    transform: scale(1.1);
    background-color: var(--color-MAIN);
}


/*############# PATROCINADOR ################*/
.patrocinador{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: PATROCINADOR;
    justify-content: center;
    padding: 0 var(--standart-padding-margin);
}
.patrocinador .section_header{
    border: none;
}
.patrocinador_start{
    height: auto;
}
.porque_patrocinador{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #eee;
    padding: 20px 45px 0 45px;
    border: 1px solid #8f8f8f;
}
.porque_patrocinador p{
    margin: 28px 0;
}
.porque_patrocinador span{
    font-weight: bold;
    font-family: gotham-bold;
}
.entrar_contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.entrar_contato h5{
    margin-bottom: 20px;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    background-color: var(--color-MAIN);
}
.contato_icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.float_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: .5rem;
    margin: 10px;
}
.float_btn img{
    width: 100%;
    height: auto;
}
.cota{
    display: flex;
    flex-direction: column;
}

.container_modal_patrocinador{
    width: 70%;
    height: 90%;
    padding: 0 1rem;
    overflow: hidden;
    margin: auto auto;
    overflow-y:scroll;
    border-radius: 4px;
    background-color: #DBDBDB;
}
.patrocinador_modal_logo{
    width: 200px;
    height: 200px;
}
.container_modal_patrocinador main{
    margin-top: 40px;
}
.container_modal_patrocinador main p{
    font-size: .9em;
    line-height: 25px;
    margin-bottom: 20px;
}
.container_modal_patrocinador header{
    z-index: 1;
    width: 67%;
    height: 64px;
    display: flex;
    padding: .5rem 0;
    position: absolute;
    margin-bottom: 20px;
    align-items: center;
    background-color: #DBDBDB;
    justify-content: space-between;
}
.container_modal_patrocinador header img{
    width: auto;
    height: 100%;
}
.patrocinador_modal_logo{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patrocinador_modal_logo img{
    width: 80%;
    height: auto;
}
.patrocinador_modal_botoes{
    width: 100%;
    height: auto;
    display: flex;
    margin: 40px 0;
    align-items: center;
    justify-content: space-around;
}
.container_modal_patrocinador main a{
    width: auto;
    height: 40px;
    padding: .5rem 1rem;
    border-radius: 50px;
    font-weight: bolder;
    background-color: #8f8f8f;
}
.patrocinador_modal_vdeo{
    width: 100%;
    height: auto;
}
.patrocinador_modal_vdeo video{
    width: 100%;
    height: auto;
}
/*############## VARIAÇÃO DE TAMANHOS PARA OS LOGOS DE ACORDO COM A COTA DE PATROCINIO ####### */
.cota .cota_container:nth-child(1) .patrocinadores_container .patrocinador_logo{
    width: 225px;
    height: 225px;
}
.cota .cota_container:nth-child(2) .patrocinadores_container .patrocinador_logo{
    width: 200px;
    height: 200px;
}
.cota .cota_container:nth-child(3) .patrocinadores_container .patrocinador_logo{
    width: 175px;
    height: 175px;
}
/*#############################################################################################*/

.cota_container{
    height: auto;
}
.patrocinadores_container{
    height: auto;
    display: flex;
    /* gap: 20px 20px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.patrocinador_logo{
    width: 150px;
    height: 150px;
    display: flex;
    padding: 1rem;
    /* border-radius: 2px; */
    object-fit: contain;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
    background: rgba(255, 255, 255, .1);
}
.patrocinador_logo a{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patrocinador_logo:hover{
    background: white;
}
.patrocinador_logo img{
    width: 100%;
    height: auto;
    padding: .5rem;
}
/*#################### TAGS ######################*/
.tag_container{
    width: 100%;
    height: auto;
    display: none;
    grid-area: TAGS;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.tag_container h2{
    margin-bottom: 1rem;
    color: var(--color-MAIN);
}
.tag_box{
    gap: 10px 10px;
    width: 100%;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tag{
    display: flex;
    color: white;
    align-items: center;
    font-weight: bolder;
    border-radius: 50px;
    padding: .5rem .8rem;
    justify-content: center;
    background-color: #CA2005;
}

/*############### FOOTER #####################*/
footer{
    width: 100%;
    height: auto;
    display: flex;
    grid-area: FOOTER;
    align-items: center;
    justify-content: space-between;
    padding: var(--standart-padding-margin);
    margin-top: var(--standart-padding-margin);
}
.abiogas ,.faleconosco_container, .social_container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.abiogas{
    justify-content: start;
}
.abiogas .logo{
    display: flex;
    align-items: center;
}
.abiogas .logo img{
    width: 100%;
    height: auto;
}
.faleconosco_container{
    justify-content: center;
}
.social_container{
    justify-content: end;
}
.faleconosco{
    height: auto;
    padding: .5rem 1rem;
    margin: 0 10px;
}
.social_icon{
    gap: 15px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.social_icon img{
    width: 2.2vw;
    height: auto;
}

.header_modal{
    width: 100%;
    height: auto;
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    }
    .header_modal h2{
        margin: 0;
        width: 90%;
        font-size: 1rem;
        text-align: left;
    }
.btn_motal_close{
    width: auto;
    height: auto;
    border: none;
    display: flex;
    padding: .2rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    }
    .btn_motal_close:hover{
        background-color: var(--color-main);
        border: 1px solid var(--color-light-blue);
    }
.btn_motal_close img{
    width: 100%;
}

/*Modal (background) */
.modal {
    top: 0;
    left: 0;
    z-index: 1; /* Sobre todos os demais elementos */
    width: 100vw; /* pega 100% da largura */
    display: none; /* por padrão é escondido todo o formulario */
    height: 100vh; /* pega 100% da altura */
    overflow: auto; /*Se precisar de scroll*/
    position: fixed; /* torna fixo */
    background-color: rgb(0,0,0); /* Cor de fundo */
    transition: display 1s ease-in-out;
    background-color: rgba(0,0,0,0.4); /* cor de fundo com opacidade */
}

  /* Modal Content/Box */
.modal-content {
    width: 30vw;
    display: flex;
    height: 100vh;
    margin: 0 auto; 
    align-items: center;
}
#modal_image{
    z-index: 2;
}

#modal_image .modal-content{
    width: auto;
}
#modal_image .modal-content > button{
    top: 9%;
    right: 21%;
    width: 25px;
    padding: 4px;
    height: 25px;
    border: none;
    display: flex;
    color: white;
    font-size: 1.2em;
    position: absolute;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-MAIN);
}
#modal_image .modal-content > button:hover{
    cursor: pointer;
}
#modal_img{
    width: 60vw;
}

.modal_form{
    width: 100%;
    display: block;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    border: 1px solid var(--color-BG);
    background-color: var(--color-LIGTH);
}
.modal_form input, textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.modal_form input[type="text"]:invalid,
.modal_form input[type="tel"]:invalid,
.modal_form input[type="email"]:invalid{
    border-color: red;
}
.modal_form input[type="text"]:valid, 
.modal_form input[type="tel"]:valid,
.modal_form input[type="email"]:valid{
    border-color: green;
}
.modal_form  textarea:invalid{
    border-color: red;
}
.modal_form  textarea:valid{
    border-color: green;
}
.modal_form  textarea{
    height: 20%;
    resize: vertical;
}

.modal_form input[type="button"],
.modal_form input[type="submit"]{
    width: auto;
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight:bold;
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-MAIN);
}