@media screen and (min-width: 1367px){
    .main_header{
    /* width: 1366px; */
    width: 100%px;
    }
    .start{
        height: auto;
        margin-bottom: 0px;
    }
    .logo_start{
        width: 30%;
    }
    .information h1{
        font-size: 3vw;
    }
    .endereco_icon img{
        width: 2vw;
    }

    .data p{
        font-size: 2.5vw;
    }
    .data_meio p{
        font-size: 3vw;
    }

    .about{
        margin-top: 30px;
        align-items: center;
    }
    .about_container{
        width: 80%;
    }
}
@media screen and (max-width:820px) {
    iframe{
        width: 100%;
        height: 30vh;
    }
    .main_header{
        padding-top: 15px;
    }
    .menu.active{
        right: 0;
        width: 100%;
    }
    .logo{
        padding-top: 0;
        height: 100%;
    }
    .logo img{
        height: 100%;
    }
    .menu{
        position: fixed;
        flex-direction: column;
        right: -115%;
        top: var(--header-initial-HEIGHT);
        gap: 15px;
        padding: 15px;
        text-align: center;
        /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.6111) 0%, rgba(8, 35, 51, 0.5166) 100%), #29404D;
        
    }

    .menu_item{
        width: 90%;
        margin: 10px 0;
    }

    .hamburger{
        display: block;
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .inscrevase_container{
        width: 100%;
        justify-content: center;
        row-gap: 30px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .inscrevase_container button{
        width: 100%;
    }
    .start{
        flex-wrap: wrap;
        height: auto;
        margin-bottom: var(--standart-padding-margin);
        padding: 20px 0;
    }
    .logo_start{
        width: 50%;
        margin-bottom: var(--standart-padding-margin);
    }
    .information{
        padding: 0 5%;
    }
    .information, .endereco_description{
        width: 100%;
    }
    .information h1, h2, p, button{
        margin-bottom: 0;
    }
    .information h1{
        text-align: center;
        margin-bottom: 15px;
        font-size: 5vw;
    }
    .destaque{
        font-size: 10vw;
    }
    .endereco{
        font-size: 3vw;
    }
    .endereco_icon img{
        /* background-color: rgb(54, 58, 58); */
        width: 5vw;
    }
    .data_content{
        justify-content: center;
    }
    .data p{
        width: 100%;
        font-size: 6.6vw;
    }
    .data_meio p{
        width: 100%;
        font-size: 8vw;
    }
    .endereco{
        margin: 15px auto 0px auto;
        width: 100%;
    }
    .card_palestrante{
        margin: 10px 0;
    }


    /*########### ABOUT ###############*/
    .section_header{
        border: none;
        font-size: 2.6vw;
    }
    .section_header img{
        width: auto;
        height: 60%;
    }
    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about_container{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .about_image{
        width: 70%;
        margin-bottom: var(--standart-padding-margin);
    }
    .about_information{
        width: 100%;
        padding: 0 0 0 0;
    }

    /*############ EDIÇÕES ANTERIORES ###########*/
    .gallery{
        height: auto;
    }
    .gallery_box{
        margin: .5rem;
        width: 150px;
        height: 150px;
    }
    .hotel_box{
        width: 100%;
    }
    .hotel{
        width: 100%;
    }
    /*################ PROGRAMAÇÃO #############*/
    .programacao_start p, .programacao_start h2{
        width: 90%;
        text-align: justify;
        font-size: 1em;
    }
    .programacao_start button{
        font-size: .6em;
        margin-bottom: 30px;
    }
    /*################ PATROCINADOR #############*/
    .porque_patrocinador{
        width: 100%;
        height: auto;
        line-height: auto;
        font-size: 4vw;
        margin-top: var(--standart-padding-margin);
        padding: var(--standart-padding-margin);
    }
    .porque_patrocinador .detail:not(:last-child){
        margin: var(--standart-padding-margin) 0;
    }
    .porque_patrocinador button{
        width: 100%;
        font-size: 2.9vw;
    }
    .float_btn{
        font-size: 2.9vw;
        width: 100%;
    }
    .float_btn img{
        margin-right: 10px;
    }
    .patrocinar{
        width: 100%;
        height: 40px;
    }

    footer{
        flex-direction: column;
        gap:var(--standart-padding-margin);
    }
    .social_icon{
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 65px;
    }
    .social_icon a{
        margin: 0 20px;
    }
    .social_icon a img{
        width: 8vw;
    }
    .abiogas ,.faleconosco_container, .social_container{
        justify-content: center;
        width: 100%;
    }

    /*############# MODAL #################*/
    .modal{
        width: 100%;
    }
    .modal-content{
        width: 90%;
    }

    #modal_img{
        margin: 0 auto;
        width: 90%;
    }

}
@media screen and (max-width:375px){
    .endereco_icon img{
        width: 10vw;
    }
    section{
        max-width: 375px;
    }
}